<% provide(:title, "Add New Team") %>
<ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
<div class="page-header">
<h1>Create new Team</h1>
</div>

<%= render 'form' %>