<% provide(:title, "Add New Athlete") %>
<ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
<div class="page-header">
<h1>Create new Athlete</h1>
</div>
<%= render 'form' %>
