<% provide(:title, "Home") %>
<h1>
Selamat Datang
</h1>
<p>
Dashboard PB ISSI digunakan untuk melakukan update data atlit, team, maupun events yang telah diselenggarakan oleh PB ISSI. <br><br>
<ul>
<li>Untuk melakukan update maupun menambah data Atlit, silahkan masuk ke menu <%= link_to "Data Atlit", athletes_path, class: "btn btn-sm btn-default" %></li> 
<li>Untuk melakukan pembuatan data Teams atlit, silahkan masuk ke menu <%= link_to "Data Tim", teams_path, class: "btn btn-sm btn-default" %></li>
<li>Untuk melakukan pembuatan data-data Events yang akan dan telah diselenggarakan, silahkan masuk ke menu <%= link_to "Data Event", events_path, class: "btn btn-sm btn-default" %></li>
</ul>
<br>
Jika terjadi masalah teknis, silahkan hubungi administrator.
</p>



